.container{
    display: flex;
    width: 81vmin;
    height: 15vmin;
    background: grey;
    margin-top: 1vmin;
    justify-content: space-around;
    border: solid 1px black;
}
span{
    font-size: 1.5vmin;
}
.title{
    width: 40%;
}
.buttons{
    margin: 2.25%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

button{
    width: 15vmin;
    font-size: 2vmin;
}